<ng-container *ngIf="service.getBatches() | async as batches">
  <div class="container-fluid">
    <h4 class="text-muted mt-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 pl-0">
      Manage {{moduleName}}
      <button class="btn btn-primary btn-sm float-right" (click)="staticModal.show()">Add New Batch</button>
    </h4>
    <ul class="list-group mt-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <li *ngFor="let batch of batches" class="list-group-item mb-3 border-top">
        <h5 class="border-bottom pb-3">
          {{batch.name}}

          <div class="float-right">
            <button (click)="deleteBatch(batch)" type="button" class="btn btn-outline-danger btn-sm mr-2"><i
              class="fa fa-trash"></i></button>
            <button (click)="itemToEdit = batch;newBatch = batch;staticModal.show()" type="button"
                    class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></button>
          </div>
        </h5>
        <tabset>
          <tab heading="Basic Info" class="p-3 border border-top-0">
            <h6 class="text-danger">
              <i class="fa fa-desktop"></i>
              Demo On : {{batch.demoDate | date : 'mediumDate'}}
            </h6>
            <h6 class="text-primary">
              <i class="fa fa-calendar"></i> {{batch.startDate | date : 'mediumDate'}}
              <span class="text-muted mr-1">to</span>
              <i class="fa fa-calendar"></i> {{batch.endDate | date : 'mediumDate'}}
              <span class="text-muted mr-1">at</span>
              <i class="fa fa-clock-o"></i> {{batch.timings}}
            </h6>
            <h6 class="text-muted"><i class="fa fa-hourglass-half mr-1"></i> Duration In Hours : {{batch.durationInHours}}</h6>
          </tab>
          <tab heading="Students" class="p-3 border border-top-0">Basic content 1</tab>
          <tab heading="Breakups" class="p-3 border border-top-0">Basic content 2</tab>
        </tabset>
      </li>

    </ul>
  </div>


  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
       aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!itemToEdit" class="modal-title pull-left">Add New Batch</h4>
          <h4 *ngIf="itemToEdit" class="modal-title pull-left">Update Batch</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide();resetModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form #newBatchForm="ngForm" class="w-100">

            <div class="form-group">
              <label>Batch Name <code>*</code>
              </label>
              <input #batchName autocomplete="off" name="name" minlength="3" required autofocus
                     [ngModel]="newBatch.name"
                     type="text" class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>
            <ng-container *ngIf="itemToEdit">
              <div class="alert alert-danger" role="alert"
                   *ngIf="isDuplicateBatchName(batches, batchName.value, newBatch.name)">Duplicate Batch names are not
                allowed
              </div>
            </ng-container>

            <ng-container *ngIf="!itemToEdit">
              <div class="alert alert-danger" role="alert" *ngIf="isDuplicateBatchName(batches, batchName.value)">
                Duplicate Batch names are not allowed
              </div>
            </ng-container>

            <div class="form-group">
              <label>Demo Date <code>*</code></label>
              <input autocomplete="off" name="demoDate" required [ngModel]="newBatch.demoDate" type="date"
                     class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>


            <div class="form-group">
              <label>Start Date <code>*</code></label>
              <input autocomplete="off" name="startDate" required [ngModel]="newBatch.startDate" type="date"
                     class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>


            <div class="form-group">
              <label>End Date <code>*</code></label>
              <input autocomplete="off" name="endDate" required [ngModel]="newBatch.endDate" type="date"
                     class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>


            <div class="form-group">
              <label>Duration In Hours <code>*</code></label>
              <input autocomplete="off" name="durationInHours" required [ngModel]="newBatch.durationInHours"
                     type="number" class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>


            <div class="form-group">
              <label>Timings <code>*</code></label>
              <input autocomplete="off" name="timings" required [ngModel]="newBatch.timings" type="time"
                     class="form-control">
              <small class="form-text text-muted">Provide valid Batch Name with minimum 3 character.</small>
            </div>

            <div class="text-right">
              <button (click)="addBatch(newBatchForm,staticModal)" *ngIf="!itemToEdit"
                      [disabled]="newBatchForm.invalid || isDuplicateBatchName(batches, newBatch.name)"
                      class="btn btn-primary btn-sm">Add Batch
              </button>
              <button (click)="updateBatch(newBatchForm,staticModal)" *ngIf="itemToEdit"
                      [disabled]="newBatchForm.invalid || isDuplicateBatchName(batches, batchName.value, newBatch.name)"
                      class="btn btn-primary btn-sm">Update Batch
              </button>
            </div>
          </form>


        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>


</ng-container>
