/* You can add global styles to this file, and also import other style files */

/*html, body {
  overflow: hidden;
  background-image: linear-gradient(to bottom, #000000, #2a292a, #504e50, #79777a, #a3a3a7);
  width: 100vw;
  height: 100vh;
}*/

.button-mode {
  cursor: pointer;
}

*:focus {
  outline: none;
}
